<html>
<head>
    <title>Predict Result</title>
    <style>
        h1 {text-align: center;}
        p {text-align: center;}
        div {text-align: center;}
        img {
            max-width:40%;
            height:auto;
            max-height:40%; 
        }
    </style>
</head>
<body>
    <h1>Here is your predict result ~</h1>
    <p> <input type='submit' value='Classify!'>
    {% if img %}
        <div>
            <img src="{{url_for('static', filename=img)}}" />
            <p> <h3> {{ label }} </h3> </p>
            <p> <h3> {{ score }} </h3> </p>
        </div>
    {% endif %}
</body>
</html>